## Analyzing Data

In [133]:
import pandas as pd
import json

In [134]:
# Reading json data into dataframe
df = pd.read_json('DataFiles/clean_data.json')
df

,origin,destination,price,airline,flight_number,departure_at,return_at,transfers,expires_at,date,currency
0,SAT,LAX,280,NK,1044,2023-07-20T22:28:00-05:00,2023-08-01T07:15:00-07:00,0,2023-07-21 01:28:21+00:00,2023-07-20,usd
1,SAT,LAS,126,F9,2075,2023-07-21T22:11:00-05:00,2023-07-28T16:26:00-07:00,0,2023-07-21 01:28:21+00:00,2023-07-21,usd
2,SAT,BWI,150,NK,1739,2023-07-22T16:00:00-05:00,2023-08-05T21:19:00-04:00,0,2023-07-21 01:28:21+00:00,2023-07-22,usd
3,SAT,LAS,115,F9,2075,2023-07-23T22:23:00-05:00,2023-07-28T16:26:00-07:00,0,2023-07-21 01:28:21+00:00,2023-07-23,usd
4,SAT,LAS,170,F9,2075,2023-07-24T21:07:00-05:00,2023-07-28T09:20:00-07:00,0,2023-07-21 01:28:21+00:00,2023-07-24,usd
...,...,...,...,...,...,...,...,...,...,...,...
330,SAT,ORL,1823,UA,2496,2024-06-15T14:15:00-05:00,2024-06-20T17:10:00-04:00,1,2023-07-21 01:28:21+00:00,2024-06-15,usd
331,SAT,HNL,668,UA,2486,2024-06-20T07:30:00-05:00,2024-06-29T07:00:00-10:00,1,2023-07-21 01:28:21+00:00,2024-06-20,usd
332,SAT,YYC,566,UA,2486,2024-06-23T07:30:00-05:00,2024-06-29T12:30:00-06:00,1,2023-07-21 01:28:21+00:00,2024-06-23,usd
333,SAT,PHX,384,UA,2460,2024-06-30T10:00:00-05:00,2024-07-04T12:05:00-07:00,1,2023-07-21 01:28:21+00:00,2024-06-30,usd
334,SAT,ATH,1690,UA,2010,2024-07-04T07:00:00-05:00,2024-07-13T11:45:00+03:00,1,2023-07-21 01:28:21+00:00,2024-07-04,usd

In [135]:
# Finding popular airlines
df['airline'].value_counts()

airline
UA    149
F9     54
NK     50
DL     24
AA     22
AM     10
B6      9
AS      6
Y4      4
VB      4
G4      1
ZZ      1
LH      1
Name: count, dtype: int64

In [136]:
# Printing every airline to write their full name
airline_array = df['airline'].unique()
for airline in airline_array:
    print(f'* {airline}:')

* NK:
* F9:
* AA:
* G4:
* UA:
* Y4:
* VB:
* B6:
* DL:
* AM:
* AS:
* ZZ:
* LH:

Airlines
* NK: Spirit Airlines
* F9: Frontier Airlines
* AA: American Airlines
* G4: Allegiant
* UA: United Airlines
* Y4: Volaris
* VB: Aeroenlace
* B6: JetBlue
* DL: Delta Airlines
* AM: Aeromexico
* AS: Alaska Airlines
* ZZ: N/A
* LH: Desutsche Lufthansa

In [137]:
# Creating airline names from airlines array
airline_names = ['Spirit Airlines', 'Frontier Airlines', 'American Airlines', 'Allegiant',
                 'United Airlines', 'Volaris', 'Aeroenlace', 'JetBlue', 'Delta Airlines',
                 'Aeromexico', 'Alaska Airlines', 'N/A', 'Desutsche Lufthansa ']

In [138]:
airline_df = pd.DataFrame({'airline': airline_array, 'airline_name': airline_names})
airline_df

   airline          airline_name
0       NK       Spirit Airlines
1       F9     Frontier Airlines
2       AA     American Airlines
3       G4             Allegiant
4       UA       United Airlines
5       Y4               Volaris
6       VB            Aeroenlace
7       B6               JetBlue
8       DL        Delta Airlines
9       AM            Aeromexico
10      AS       Alaska Airlines
11      ZZ                   N/A
12      LH  Desutsche Lufthansa

In [139]:
# Printing every aiport to wrtie their city names
airport_array = df['destination'].unique()
for airport in airport_array:
    print(f'* {airport}: ')

* LAX:
* LAS:
* BWI:
* ABI:
* FLL:
* CHI:
* ORL:
* ATL:
* AVL:
* RDU:
* BOS:
* DTT:
* TPA:
* DEN:
* PDX:
* HNL:
* MYR:
* MEX:
* DFW:
* SAN:
* CAE:
* MTY:
* SDF:
* ONT:
* SEA:
* SFO:
* PHX:
* DUB:
* MSY:
* PHL:
* GDL:
* BNA:
* BIL:
* BZE:
* LCH:
* NYC:
* PVR:
* COS:
* PTY:
* SAL:
* SLU:
* HAV:
* MKC:
* CUN:
* SGN:
* MLB:
* GGT:
* SJU:
* SBN:
* CVN:
* QHO:
* VCE:
* FAO:
* SJD:
* FSD:
* ANC:
* BTR:
* JTR:
* REK:
* TYO:
* BKK:
* YYC:
* ATH:

Destinations
* LAX: Los Angeles, California
* LAS: Las Vegas, Nevada 
* BWI: Baltimore, Maryland
* ABI: Abilene, Texas
* FLL: Fort Lauderdale, Florida
* CHI: Chicago, Illinois
* ORL: Orlando, Florida
* ATL: Atlanta, Georgia
* AVL: Asheville, North Carolina
* RDU: Morrisville, North Carolina
* BOS: Boston, Massachusetts
* DTT: Detroit, Michigan
* TPA: Tampa, Florida
* DEN: Denver, Colorado
* PDX: Portland, Oregon
* HNL: Honolulu, Hawaii
* MYR: Myrtle Beach, South Carolina
* MEX: Mexico City, Mexico
* DFW: Dallas Fort Worth, Texas
* SAN: San Diego, California
* CAE: Columbia, South Carolina
* MTY: Monterrey, Mexico
* SDF: Louisville, Kentucky
* ONT: Ontario, California
* SEA: Seattle, Washington
* SFO: San Francisco, California
* PHX: Phoenix, Arizona
* DUB: Dublin, Ireland
* MSY: New Orleans, Louisiana
* PHL: Philadelphia, Pennsylvania
* GDL: Guadalajara, Mexico
* BNA: Nashville, Tennessee
* BIL: Billings, Montana
* BZE: Belize City, Belize
* LCH: Lake Charles, Louisiana
* NYC: New York City, New York
* PVR: Puerto Vallarta, Mexico
* COS: Colorado Springs, Colorado
* PTY: Panama City, Panama
* SAL: San Salvador, EL Salvador
* SLU: Castries, Saint Lucia
* HAV: Havana, Cuba
* MKC: Kansas City, Missouri
* CUN: Cancun, Mexico
* SGN: Tan Son Nhat, Vietnam
* MLB: Melbourne, Florida
* GGT: Exuma, The Bahamas
* SJU: Carolina, Puerto Rico
* SBN: South Bend, Indiana
* CVN: Clovis, New Mexico
* QHO: Houston, Texas
* VCE: Venice, Italy
* FAO: Faro, Portugal
* SJD: San Jose del Cabo, Mexico
* FSD: Sioux Falls, South Dakota 
* ANC: Anchorage, Alaska
* BTR: Baton Rouge, Louisiana
* JTR: Santorini, Greece
* REK: Reykjavik, Iceland
* TYO: Tokyo, Japan
* BKK: Suvarnabhumi, Thailand
* YYC: Calgary, Canada
* ATH: Athens, Greece

In [140]:
# Creating city names of airports array
airport_city = ['Los Angeles, California', 'Las Vegas, Nevada', 'Baltimore, Maryland',
'Abilene, Texas', 'Fort Lauderdale, Florida', 'Chicago, Illinois', 'Orlando, Florida',
'Atlanta, Georgia', 'Asheville, North Carolina', 'Morrisville, North Carolina', 
'Boston, Massachusetts', 'Detroit, Michigan', 'Tampa, Florida', 'Denver, Colorado',
'Portland, Oregon', 'Honolulu, Hawaii', 'Myrtle Beach, South Carolina', 'Mexico City, Mexico', 
'Dallas Fort Worth, Texas', 'San Diego, California', 'Columbia, South Carolina', 'Monterrey, Mexico',
'Louisville, Kentucky', 'Ontario, California', 'Seattle, Washington', 'San Francisco, California',
'Phoenix, Arizona', 'Dublin, Ireland', 'New Orleans, Louisiana', 'Philadelphia, Pennsylvania', 
'Guadalajara, Mexico', 'Nashville, Tennessee', 'Billings, Montana', 'Belize City, Belize',
'Lake Charles, Louisiana', 'New York City, New York', 'Puerto Vallarta, Mexico', 'Colorado Springs, Colorado',
'Panama City, Panama', 'San Salvador, EL Salvador', 'Castries, Saint Lucia', 'Havana, Cuba', 
'Kansas City, Missouri', 'Cancun, Mexico', 'Tan Son Nhat, Vietnam', 'Melbourne, Florida',
'Exuma, The Bahamas', 'Carolina, Puerto Rico', 'South Bend, Indiana', 'Clovis, New Mexico', 
'Houston, Texas', 'Venice, Italy', 'Faro, Portugal', 'San Jose del Cabo, Mexico', 'Sioux Falls, South Dakota',
'Anchorage, Alaska', 'Baton Rouge, Louisiana', 'Santorini, Greece', 'Reykjavik, Iceland', 'Tokyo, Japan',
'Suvarnabhumi, Thailand', 'Calgary, Canada', 'Athens, Greece']

In [141]:
airport_array

array(['LAX', 'LAS', 'BWI', 'ABI', 'FLL', 'CHI', 'ORL', 'ATL', 'AVL',
       'RDU', 'BOS', 'DTT', 'TPA', 'DEN', 'PDX', 'HNL', 'MYR', 'MEX',
       'DFW', 'SAN', 'CAE', 'MTY', 'SDF', 'ONT', 'SEA', 'SFO', 'PHX',
       'DUB', 'MSY', 'PHL', 'GDL', 'BNA', 'BIL', 'BZE', 'LCH', 'NYC',
       'PVR', 'COS', 'PTY', 'SAL', 'SLU', 'HAV', 'MKC', 'CUN', 'SGN',
       'MLB', 'GGT', 'SJU', 'SBN', 'CVN', 'QHO', 'VCE', 'FAO', 'SJD',
       'FSD', 'ANC', 'BTR', 'JTR', 'REK', 'TYO', 'BKK', 'YYC', 'ATH'],
      dtype=object)

In [142]:
# Creating every airport coordinates array for map
airport_coordinates = [[33.9438, -118.4091], [36.0840, -115.1537], [39.1776, -76.6684], 
                       [32.4119, -99.68], [26.0702, -80.1517], [41.7865, -87.7508], 
                       [28.4311, -81.3079], [33.6361, -84.4294], [35.4349, -82.541298],
                       [35.8801, -78.7858], [42.3638, -71.0091], [42.2161722, -83.3553842],
                       [27.9770, -82.5302], [39.8538, -104.6739], [45.5883, -122.5944], 
                       [21.3186, -157.9254], [33.6822, -78.9279], [19.4361, -99.0719],
                       [32.8998, -97.0403], [32.7338, -117.1933], [33.9419, -81.122],
                       [25.7778, -100.1080], [38.1707, -85.7308], [34.056, -117.5981],
                       [47.4437, -122.3024], [37.6192, -122.3816], [33.4352, -112.0101],
                       [53.4269, -6.2499], [29.9962, -90.2548], [39.8731, -75.2437],
                       [20.526, -103.3076], [36.1249, -86.6762], [45.8035, -108.5379],
                       [17.5361, -88.3078], [30.123, -93.2211], [40.6446, -73.7797],
                       [20.6805, -105.2524], [38.8017, -104.7026], [9.067, -79.3875],
                       [13.4448, -89.0575], [14.0203, -60.9949], [22.9977, -82.4075],
                       [39.1253, -94.5873], [21.0417, -86.874], [10.8163, 106.6512],
                       [28.1013, -80.6451], [23.5636, -75.8738], [18.4378, -66.0042],
                       [41.7006, -86.3121], [34.4267, -103.0827], [29.99022, -95.336783],
                       [45.5047, 12.3466], [37.0204, -7.9683], [23.1455, -109.7183],
                       [43.5828, -96.7402], [61.1771, -149.9907], [30.5330, -91.1524],
                       [36.4003, 25.4776], [64.1318, -21.9466], [35.7722, 140.3929],
                       [13.6932, 100.7505], [51.1308, -114.0131], [37.9358, 23.9484]]

In [143]:
# Creating df with airport, airport city, and its coordinates
coordinates_df = pd.DataFrame({'destination': airport_array, 'city': airport_city, 'coordinates': airport_coordinates})
coordinates_df.head(60)

   destination                          city                coordinates
0          LAX       Los Angeles, California       [33.9438, -118.4091]
1          LAS             Las Vegas, Nevada        [36.084, -115.1537]
2          BWI           Baltimore, Maryland        [39.1776, -76.6684]
3          ABI                Abilene, Texas          [32.4119, -99.68]
4          FLL      Fort Lauderdale, Florida        [26.0702, -80.1517]
5          CHI             Chicago, Illinois        [41.7865, -87.7508]
6          ORL              Orlando, Florida        [28.4311, -81.3079]
7          ATL              Atlanta, Georgia        [33.6361, -84.4294]
8          AVL     Asheville, North Carolina      [35.4349, -82.541298]
9          RDU   Morrisville, North Carolina        [35.8801, -78.7858]
10         BOS         Boston, Massachusetts        [42.3638, -71.0091]
11         DTT             Detroit, Michigan  [42.2161722, -83.3553842]
12         TPA                Tampa, Florida         [27.977, -82.5302]
13         DEN              Denver, Colorado       [39.8538, -104.6739]
14         PDX              Portland, Oregon       [45.5883, -122.5944]
15         HNL              Honolulu, Hawaii       [21.3186, -157.9254]
16         MYR  Myrtle Beach, South Carolina        [33.6822, -78.9279]
17         MEX           Mexico City, Mexico        [19.4361, -99.0719]
18         DFW      Dallas Fort Worth, Texas        [32.8998, -97.0403]
19         SAN         San Diego, California       [32.7338, -117.1933]
20         CAE      Columbia, South Carolina         [33.9419, -81.122]
21         MTY             Monterrey, Mexico        [25.7778, -100.108]
22         SDF          Louisville, Kentucky        [38.1707, -85.7308]
23         ONT           Ontario, California        [34.056, -117.5981]
24         SEA           Seattle, Washington       [47.4437, -122.3024]
25         SFO     San Francisco, California       [37.6192, -122.3816]
26         PHX              Phoenix, Arizona       [33.4352, -112.0101]
27         DUB               Dublin, Ireland         [53.4269, -6.2499]
28         MSY        New Orleans, Louisiana        [29.9962, -90.2548]
29         PHL    Philadelphia, Pennsylvania        [39.8731, -75.2437]
30         GDL           Guadalajara, Mexico        [20.526, -103.3076]
31         BNA          Nashville, Tennessee        [36.1249, -86.6762]
32         BIL             Billings, Montana       [45.8035, -108.5379]
33         BZE           Belize City, Belize        [17.5361, -88.3078]
34         LCH       Lake Charles, Louisiana         [30.123, -93.2211]
35         NYC       New York City, New York        [40.6446, -73.7797]
36         PVR       Puerto Vallarta, Mexico       [20.6805, -105.2524]
37         COS    Colorado Springs, Colorado       [38.8017, -104.7026]
38         PTY           Panama City, Panama          [9.067, -79.3875]
39         SAL     San Salvador, EL Salvador        [13.4448, -89.0575]
40         SLU         Castries, Saint Lucia        [14.0203, -60.9949]
41         HAV                  Havana, Cuba        [22.9977, -82.4075]
42         MKC         Kansas City, Missouri        [39.1253, -94.5873]
43         CUN                Cancun, Mexico         [21.0417, -86.874]
44         SGN         Tan Son Nhat, Vietnam        [10.8163, 106.6512]
45         MLB            Melbourne, Florida        [28.1013, -80.6451]
46         GGT            Exuma, The Bahamas        [23.5636, -75.8738]
47         SJU         Carolina, Puerto Rico        [18.4378, -66.0042]
48         SBN           South Bend, Indiana        [41.7006, -86.3121]
49         CVN            Clovis, New Mexico       [34.4267, -103.0827]
50         QHO                Houston, Texas     [29.99022, -95.336783]
51         VCE                 Venice, Italy         [45.5047, 12.3466]
52         FAO                Faro, Portugal         [37.0204, -7.9683]
53         SJD     San Jose del Cabo, Mexico       [23.1455, -109.7183]
54         FSD     Sioux Falls, South Dakota        [43.5828, -96.7402]
55         ANC             Anchorage, Alaska       [61.1771, -149.9907]
56         BTR        Baton Rouge, Louisiana         [30.533, -91.1524]
57         JTR             Santorini, Greece         [36.4003, 25.4776]
58         REK            Reykjavik, Iceland        [64.1318, -21.9466]
59         TYO                  Tokyo, Japan        [35.7722, 140.3929]

In [144]:
# Merging inital dataframe with coordinates dataframe
first_merged_df = df.merge(coordinates_df, on='destination', how='left')
final_df = first_merged_df.merge(airline_df, on='airline', how='left')
final_df

,origin,destination,price,airline,flight_number,departure_at,return_at,transfers,expires_at,date,currency,city,coordinates,airline_name
0,SAT,LAX,280,NK,1044,2023-07-20T22:28:00-05:00,2023-08-01T07:15:00-07:00,0,2023-07-21 01:28:21+00:00,2023-07-20,usd,"Los Angeles, California","[33.9438, -118.4091]",Spirit Airlines
1,SAT,LAS,126,F9,2075,2023-07-21T22:11:00-05:00,2023-07-28T16:26:00-07:00,0,2023-07-21 01:28:21+00:00,2023-07-21,usd,"Las Vegas, Nevada","[36.084, -115.1537]",Frontier Airlines
2,SAT,BWI,150,NK,1739,2023-07-22T16:00:00-05:00,2023-08-05T21:19:00-04:00,0,2023-07-21 01:28:21+00:00,2023-07-22,usd,"Baltimore, Maryland","[39.1776, -76.6684]",Spirit Airlines
3,SAT,LAS,115,F9,2075,2023-07-23T22:23:00-05:00,2023-07-28T16:26:00-07:00,0,2023-07-21 01:28:21+00:00,2023-07-23,usd,"Las Vegas, Nevada","[36.084, -115.1537]",Frontier Airlines
4,SAT,LAS,170,F9,2075,2023-07-24T21:07:00-05:00,2023-07-28T09:20:00-07:00,0,2023-07-21 01:28:21+00:00,2023-07-24,usd,"Las Vegas, Nevada","[36.084, -115.1537]",Frontier Airlines
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,SAT,ORL,1823,UA,2496,2024-06-15T14:15:00-05:00,2024-06-20T17:10:00-04:00,1,2023-07-21 01:28:21+00:00,2024-06-15,usd,"Orlando, Florida","[28.4311, -81.3079]",United Airlines
331,SAT,HNL,668,UA,2486,2024-06-20T07:30:00-05:00,2024-06-29T07:00:00-10:00,1,2023-07-21 01:28:21+00:00,2024-06-20,usd,"Honolulu, Hawaii","[21.3186, -157.9254]",United Airlines
332,SAT,YYC,566,UA,2486,2024-06-23T07:30:00-05:00,2024-06-29T12:30:00-06:00,1,2023-07-21 01:28:21+00:00,2024-06-23,usd,"Calgary, Canada","[51.1308, -114.0131]",United Airlines
333,SAT,PHX,384,UA,2460,2024-06-30T10:00:00-05:00,2024-07-04T12:05:00-07:00,1,2023-07-21 01:28:21+00:00,2024-06-30,usd,"Phoenix, Arizona","[33.4352, -112.0101]",United Airlines
334,SAT,ATH,1690,UA,2010,2024-07-04T07:00:00-05:00,2024-07-13T11:45:00+03:00,1,2023-07-21 01:28:21+00:00,2024-07-04,usd,"Athens, Greece","[37.9358, 23.9484]",United Airlines

In [145]:
final_df.loc[final_df['city'] == 'New York City, New York']

,origin,destination,price,airline,flight_number,departure_at,return_at,transfers,expires_at,date,currency,city,coordinates,airline_name
121,SAT,NYC,299,AA,671,2023-11-18T06:29:00-06:00,2023-11-29T16:00:00-05:00,1,2023-07-21 01:28:21+00:00,2023-11-18,usd,"New York City, New York","[40.6446, -73.7797]",American Airlines
131,SAT,NYC,202,UA,1741,2023-11-28T13:06:00-06:00,2023-12-02T15:29:00-05:00,1,2023-07-21 01:28:21+00:00,2023-11-28,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
132,SAT,NYC,186,UA,1715,2023-11-29T13:25:00-06:00,2023-12-05T16:25:00-05:00,1,2023-07-21 01:28:21+00:00,2023-11-29,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
153,SAT,NYC,296,UA,1347,2023-12-20T07:30:00-06:00,2023-12-25T14:46:00-05:00,1,2023-07-21 01:28:21+00:00,2023-12-20,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
155,SAT,NYC,360,UA,1347,2023-12-22T07:30:00-06:00,2023-12-25T14:46:00-05:00,1,2023-07-21 01:28:21+00:00,2023-12-22,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
156,SAT,NYC,324,B6,1826,2023-12-23T14:42:00-06:00,2023-12-26T10:30:00-05:00,0,2023-07-21 01:28:21+00:00,2023-12-23,usd,"New York City, New York","[40.6446, -73.7797]",JetBlue
157,SAT,NYC,260,UA,2250,2023-12-24T11:45:00-06:00,2023-12-27T10:30:00-05:00,1,2023-07-21 01:28:21+00:00,2023-12-24,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
160,SAT,NYC,357,UA,1347,2023-12-27T07:30:00-06:00,2023-12-28T10:30:00-05:00,1,2023-07-21 01:28:21+00:00,2023-12-27,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
161,SAT,NYC,326,B6,1826,2023-12-28T14:42:00-06:00,2024-01-02T10:30:00-05:00,0,2023-07-21 01:28:21+00:00,2023-12-28,usd,"New York City, New York","[40.6446, -73.7797]",JetBlue
162,SAT,NYC,286,AA,1957,2023-12-29T12:41:00-06:00,2024-01-05T08:25:00-05:00,1,2023-07-21 01:28:21+00:00,2023-12-29,usd,"New York City, New York","[40.6446, -73.7797]",American Airlines
168,SAT,NYC,192,UA,2010,2024-01-04T07:00:00-06:00,2024-01-23T14:00:00-05:00,1,2023-07-21 01:28:21+00:00,2024-01-04,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
169,SAT,NYC,192,UA,2010,2024-01-05T07:00:00-06:00,2024-01-23T15:00:00-05:00,1,2023-07-21 01:28:21+00:00,2024-01-05,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
172,SAT,NYC,217,UA,2010,2024-01-08T07:00:00-06:00,2024-01-12T08:45:00-05:00,0,2023-07-21 01:28:21+00:00,2024-01-08,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
173,SAT,NYC,217,B6,1826,2024-01-09T15:51:00-06:00,2024-01-12T09:30:00-05:00,0,2023-07-21 01:28:21+00:00,2024-01-09,usd,"New York City, New York","[40.6446, -73.7797]",JetBlue
175,SAT,NYC,217,UA,2010,2024-01-11T07:00:00-06:00,2024-01-15T08:45:00-05:00,0,2023-07-21 01:28:21+00:00,2024-01-11,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
176,SAT,NYC,217,UA,2010,2024-01-12T07:00:00-06:00,2024-01-15T08:45:00-05:00,0,2023-07-21 01:28:21+00:00,2024-01-12,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
179,SAT,NYC,217,UA,2010,2024-01-15T07:00:00-06:00,2024-01-19T08:45:00-05:00,0,2023-07-21 01:28:21+00:00,2024-01-15,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
181,SAT,NYC,186,UA,1347,2024-01-17T07:30:00-06:00,2024-01-31T10:20:00-05:00,1,2023-07-21 01:28:21+00:00,2024-01-17,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
188,SAT,NYC,186,UA,2486,2024-01-24T07:30:00-06:00,2024-01-31T15:45:00-05:00,1,2023-07-21 01:28:21+00:00,2024-01-24,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
189,SAT,NYC,217,UA,2010,2024-01-25T07:00:00-06:00,2024-01-28T08:45:00-05:00,0,2023-07-21 01:28:21+00:00,2024-01-25,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
191,SAT,NYC,217,UA,2010,2024-01-27T07:00:00-06:00,2024-01-29T08:45:00-05:00,0,2023-07-21 01:28:21+00:00,2024-01-27,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
196,SAT,NYC,217,UA,2010,2024-02-01T07:00:00-06:00,2024-02-04T08:45:00-05:00,0,2023-07-21 01:28:21+00:00,2024-02-01,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
197,SAT,NYC,217,UA,2010,2024-02-02T07:00:00-06:00,2024-02-04T08:45:00-05:00,0,2023-07-21 01:28:21+00:00,2024-02-02,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
200,SAT,NYC,217,DL,1056,2024-02-05T13:50:00-06:00,2024-02-09T09:45:00-05:00,0,2023-07-21 01:28:21+00:00,2024-02-05,usd,"New York City, New York","[40.6446, -73.7797]",Delta Airlines
203,SAT,NYC,217,UA,2010,2024-02-08T07:00:00-06:00,2024-02-12T08:45:00-05:00,0,2023-07-21 01:28:21+00:00,2024-02-08,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
204,SAT,NYC,217,UA,2010,2024-02-09T07:00:00-06:00,2024-02-12T08:45:00-05:00,0,2023-07-21 01:28:21+00:00,2024-02-09,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
205,SAT,NYC,202,UA,2010,2024-02-10T07:00:00-06:00,2024-02-14T17:00:00-05:00,1,2023-07-21 01:28:21+00:00,2024-02-10,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
209,SAT,NYC,202,UA,1715,2024-02-14T13:42:00-06:00,2024-02-18T08:45:00-05:00,1,2023-07-21 01:28:21+00:00,2024-02-14,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
212,SAT,NYC,217,UA,2010,2024-02-17T07:00:00-06:00,2024-02-20T08:45:00-05:00,0,2023-07-21 01:28:21+00:00,2024-02-17,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
213,SAT,NYC,202,UA,2010,2024-02-18T07:00:00-06:00,2024-02-21T10:20:00-05:00,1,2023-07-21 01:28:21+00:00,2024-02-18,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
228,SAT,NYC,202,UA,1741,2024-03-04T12:50:00-06:00,2024-03-06T07:55:00-05:00,1,2023-07-21 01:28:21+00:00,2024-03-04,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
238,SAT,NYC,271,UA,1347,2024-03-14T07:30:00-05:00,2024-03-18T15:45:00-04:00,1,2023-07-21 01:28:21+00:00,2024-03-14,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
239,SAT,NYC,226,UA,1894,2024-03-15T07:00:00-05:00,2024-03-23T06:05:00-04:00,1,2023-07-21 01:28:21+00:00,2024-03-15,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
244,SAT,NYC,277,B6,1826,2024-03-20T14:40:00-05:00,2024-04-01T10:35:00-04:00,0,2023-07-21 01:28:21+00:00,2024-03-20,usd,"New York City, New York","[40.6446, -73.7797]",JetBlue
251,SAT,NYC,222,UA,2010,2024-03-27T07:00:00-05:00,2024-03-30T14:00:00-04:00,1,2023-07-21 01:28:21+00:00,2024-03-27,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
258,SAT,NYC,222,UA,2010,2024-04-03T07:00:00-05:00,2024-04-08T17:00:00-04:00,1,2023-07-21 01:28:21+00:00,2024-04-03,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
272,SAT,NYC,237,DL,1056,2024-04-17T13:50:00-05:00,2024-05-04T09:45:00-04:00,0,2023-07-21 01:28:21+00:00,2024-04-17,usd,"New York City, New York","[40.6446, -73.7797]",Delta Airlines
277,SAT,NYC,316,UA,1347,2024-04-22T07:30:00-05:00,2024-05-02T15:45:00-04:00,1,2023-07-21 01:28:21+00:00,2024-04-22,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
278,SAT,NYC,267,UA,1741,2024-04-23T12:50:00-05:00,2024-05-02T15:45:00-04:00,1,2023-07-21 01:28:21+00:00,2024-04-23,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
283,SAT,NYC,347,B6,1826,2024-04-28T14:40:00-05:00,2024-05-02T11:30:00-04:00,0,2023-07-21 01:28:21+00:00,2024-04-28,usd,"New York City, New York","[40.6446, -73.7797]",JetBlue
285,SAT,NYC,217,DL,1056,2024-04-30T13:50:00-05:00,2024-05-11T09:45:00-04:00,0,2023-07-21 01:28:21+00:00,2024-04-30,usd,"New York City, New York","[40.6446, -73.7797]",Delta Airlines
286,SAT,NYC,226,UA,1894,2024-05-01T07:00:00-05:00,2024-05-07T17:00:00-04:00,1,2023-07-21 01:28:21+00:00,2024-05-01,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
288,SAT,NYC,406,UA,2460,2024-05-03T10:00:00-05:00,2024-05-12T06:05:00-04:00,1,2023-07-21 01:28:21+00:00,2024-05-03,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
291,SAT,NYC,277,DL,1056,2024-05-06T13:50:00-05:00,2024-05-22T09:45:00-04:00,0,2023-07-21 01:28:21+00:00,2024-05-06,usd,"New York City, New York","[40.6446, -73.7797]",Delta Airlines
292,SAT,NYC,217,UA,2010,2024-05-07T07:00:00-05:00,2024-05-08T12:31:00-04:00,0,2023-07-21 01:28:21+00:00,2024-05-07,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
299,SAT,NYC,222,UA,1347,2024-05-14T07:30:00-05:00,2024-05-29T12:31:00-04:00,1,2023-07-21 01:28:21+00:00,2024-05-14,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
300,SAT,NYC,267,UA,1347,2024-05-15T07:30:00-05:00,2024-05-29T12:31:00-04:00,1,2023-07-21 01:28:21+00:00,2024-05-15,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
301,SAT,NYC,360,UA,1347,2024-05-16T07:30:00-05:00,2024-05-28T12:30:00-04:00,2,2023-07-21 01:28:21+00:00,2024-05-16,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines
305,SAT,NYC,396,DL,1465,2024-05-20T18:20:00-05:00,2024-06-03T06:00:00-04:00,1,2023-07-21 01:28:21+00:00,2024-05-20,usd,"New York City, New York","[40.6446, -73.7797]",Delta Airlines
317,SAT,NYC,317,UA,680,2024-06-01T16:45:00-05:00,2024-06-05T12:31:00-04:00,1,2023-07-21 01:28:21+00:00,2024-06-01,usd,"New York City, New York","[40.6446, -73.7797]",United Airlines

In [146]:
# Exporting dataframe to json file for javascript
final_df.to_json('DataFiles/final_data.json')