## Analyzing Data

In [17]:
import pandas as pd
import json

In [19]:
# Reading json data into dataframe
df = pd.read_json('DataFiles/clean_data.json')
df

,origin,destination,price,airline,flight_number,departure_at,return_at,transfers,expires_at,date,currency,city,coordinates,airline_name
0,SAT,LAX,280,NK,1044,2023-07-20T22:28:00-05:00,2023-08-01T07:15:00-07:00,0,2023-07-21 01:28:21+00:00,2023-07-20,usd,"Los Angeles, California","[33.9438, -118.4091]",Spirit Airlines
1,SAT,LAS,126,F9,2075,2023-07-21T22:11:00-05:00,2023-07-28T16:26:00-07:00,0,2023-07-21 01:28:21+00:00,2023-07-21,usd,"Las Vegas, Nevada","[36.084, -115.1537]",Frontier Airlines
2,SAT,BWI,150,NK,1739,2023-07-22T16:00:00-05:00,2023-08-05T21:19:00-04:00,0,2023-07-21 01:28:21+00:00,2023-07-22,usd,"Baltimore, Maryland","[39.1776, -76.6684]",Spirit Airlines
3,SAT,LAS,115,F9,2075,2023-07-23T22:23:00-05:00,2023-07-28T16:26:00-07:00,0,2023-07-21 01:28:21+00:00,2023-07-23,usd,"Las Vegas, Nevada","[36.084, -115.1537]",Frontier Airlines
4,SAT,LAS,170,F9,2075,2023-07-24T21:07:00-05:00,2023-07-28T09:20:00-07:00,0,2023-07-21 01:28:21+00:00,2023-07-24,usd,"Las Vegas, Nevada","[36.084, -115.1537]",Frontier Airlines
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,SAT,ORL,1823,UA,2496,2024-06-15T14:15:00-05:00,2024-06-20T17:10:00-04:00,1,2023-07-21 01:28:21+00:00,2024-06-15,usd,"Orlando, Florida","[28.4311, -81.3079]",United Airlines
331,SAT,HNL,668,UA,2486,2024-06-20T07:30:00-05:00,2024-06-29T07:00:00-10:00,1,2023-07-21 01:28:21+00:00,2024-06-20,usd,"Honolulu, Hawaii","[21.3186, -157.9254]",United Airlines
332,SAT,YYC,566,UA,2486,2024-06-23T07:30:00-05:00,2024-06-29T12:30:00-06:00,1,2023-07-21 01:28:21+00:00,2024-06-23,usd,"Calgary, Canada","[51.1308, -114.0131]",United Airlines
333,SAT,PHX,384,UA,2460,2024-06-30T10:00:00-05:00,2024-07-04T12:05:00-07:00,1,2023-07-21 01:28:21+00:00,2024-06-30,usd,"Phoenix, Arizona","[33.4352, -112.0101]",United Airlines
334,SAT,ATH,1690,UA,2010,2024-07-04T07:00:00-05:00,2024-07-13T11:45:00+03:00,1,2023-07-21 01:28:21+00:00,2024-07-04,usd,"Athens, Greece","[37.9358, 23.9484]",United Airlines

In [20]:
# Finding popular airlines
df['airline'].value_counts()

airline
UA    149
F9     54
NK     50
DL     24
AA     22
AM     10
B6      9
AS      6
Y4      4
VB      4
G4      1
ZZ      1
LH      1
Name: count, dtype: int64

In [11]:
# Printing every airline to write their full name
airline_array = df['airline'].unique()
for airline in airline_array:
    print(f'* {airline}:')

* NK:
* F9:
* AA:
* G4:
* UA:
* Y4:
* VB:
* B6:
* DL:
* AM:
* AS:
* ZZ:
* LH:

Airlines
* NK: Spirit Airlines
* F9: Frontier Airlines
* AA: American Airlines
* G4: Allegiant
* UA: United Airlines
* Y4: Volaris
* VB: Aeroenlace
* B6: JetBlue
* DL: Delta Airlines
* AM: Aeromexico
* AS: Alaska Airlines
* ZZ: N/A
* LH: Desutsche Lufthansa

In [14]:
# Printing every aiport to wrtie their city names
airport_array = df['destination'].unique()
for airport in airport_array:
    print(f'* {airport}: ')

* LAX:
* LAS:
* BWI:
* ABI:
* FLL:
* CHI:
* ORL:
* ATL:
* AVL:
* RDU:
* BOS:
* DTT:
* TPA:
* DEN:
* PDX:
* HNL:
* MYR:
* MEX:
* DFW:
* SAN:
* CAE:
* MTY:
* SDF:
* ONT:
* SEA:
* SFO:
* PHX:
* DUB:
* MSY:
* PHL:
* GDL:
* BNA:
* BIL:
* BZE:
* LCH:
* NYC:
* PVR:
* COS:
* PTY:
* SAL:
* SLU:
* HAV:
* MKC:
* CUN:
* SGN:
* MLB:
* GGT:
* SJU:
* SBN:
* CVN:
* QHO:
* VCE:
* FAO:
* SJD:
* FSD:
* ANC:
* BTR:
* JTR:
* REK:
* TYO:
* BKK:
* YYC:
* ATH:

Destinations
* LAX: Los Angeles, California
* LAS: Las Vegas, Nevada 
* BWI: Baltimore, Maryland
* ABI: Abilene, Texas
* FLL: Fort Lauderdale, Florida
* CHI: Chicago, Illinois
* ORL: Orlando, Florida
* ATL: Atlanta, Georgia
* AVL: Asheville, North Carolina
* RDU: Morrisville, North Carolina
* BOS: Boston, Massachusetts
* DTT: Detroit, Michigan
* TPA: Tampa, Florida
* DEN: Denver, Colorado
* PDX: Portland, Oregon
* HNL: Honolulu, Hawaii
* MYR: Myrtle Beach, South Carolina
* MEX: Mexico City, Mexico
* DFW: Dallas Fort Worth, Texas
* SAN: San Diego, California
* CAE: Columbia, South Carolina
* MTY: Monterrey, Mexico
* SDF: Louisville, Kentucky
* ONT: Ontario, California
* SEA: Seattle, Washington
* SFO: San Francisco, California
* PHX: Phoenix, Arizona
* DUB: Dublin, Ireland
* MSY: New Orleans, Louisiana
* PHL: Philadelphia, Pennsylvania
* GDL: Guadalajara, Mexico
* BNA: Nashville, Tennessee
* BIL: Billings, Montana
* BZE: Belize City, Belize
* LCH: Lake Charles, Louisiana
* NYC: New York City, New York
* PVR: Puerto Vallarta, Mexico
* COS: Colorado Springs, Colorado
* PTY: Panama City, Panama
* SAL: San Salvador, EL Salvador
* SLU: Castries, Saint Lucia
* HAV: Havana, Cuba
* MKC: Kansas City, Missouri
* CUN: Cancun, Mexico
* SGN: Tan Son Nhat, Vietnam
* MLB: Melbourne, Florida
* GGT: Exuma, The Bahamas
* SJU: Carolina, Puerto Rico
* SBN: South Bend, Indiana
* CVN: Clovis, New Mexico
* QHO: Houston, Texas
* VCE: Venice, Italy
* FAO: Faro, Portugal
* SJD: San Jose del Cabo, Mexico
* FSD: Sioux Falls, South Dakota 
* ANC: Anchorage, Alaska
* BTR: Baton Rouge, Louisiana
* JTR: Santorini, Greece
* REK: Reykjavik, Iceland
* TYO: Tokyo, Japan
* BKK: Suvarnabhumi, Thailand
* YYC: Calgary, Canada
* ATH: Athens, Greece